# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.idea/
support_files/evaluation_mocaps/original/SOMA_unlabeled_mpc
support_files/marker_layouts/SOMA/soma_subject1
support_files/smplx/amass_neutral/ACCAD
support_files/smplx/amass_neutral/CMU
support_files/smplx/amass_neutral/HumanEva
support_files/smplx/amass_neutral/PosePrior
support_files/smplx/amass_neutral/TotalCapture
support_files/smplx/amass_neutral/Transitions
support_files/smplx/female
support_files/smplx/male
support_files/smplx/neutral
support_files/smplx/APose.npz
support_files/smplx/LICENSE.txt
support_files/smplx/body_mean_values.npz
support_files/smplx/pose_body_prior.pkl
support_files/smplx/pose_hand_prior.npz
support_files/ssm_head_marker_corr.npz

data/V48_02_SOMA/body_dataset/train/betas.pt
data/V48_02_SOMA/body_dataset/train/data.h5
data/V48_02_SOMA/body_dataset/train/pose_body.pt
data/V48_02_SOMA/body_dataset/train/root_orient.pt
data/V48_02_SOMA/body_dataset/train/trans.pt
data/V48_02_SOMA/body_dataset/vald/betas.pt
data/V48_02_SOMA/body_dataset/vald/data.h5
data/V48_02_SOMA/body_dataset/vald/pose_body.pt
data/V48_02_SOMA/body_dataset/vald/root_orient.pt
data/V48_02_SOMA/body_dataset/vald/trans.pt
data/V48_02_SOMA/body_dataset/settings.yaml
data/V48_02_SOMA/marker_dataset/train/betas.pt
data/V48_02_SOMA/marker_dataset/train/data_is_real.pt
data/V48_02_SOMA/marker_dataset/train/markers.pt
data/V48_02_SOMA/marker_dataset/train/pose_body.pt
data/V48_02_SOMA/marker_dataset/train/root_orient.pt
data/V48_02_SOMA/marker_dataset/train/trans.pt
data/V48_02_SOMA/marker_dataset/vald/betas.pt
data/V48_02_SOMA/marker_dataset/vald/data_is_real.pt
data/V48_02_SOMA/marker_dataset/vald/markers.pt
data/V48_02_SOMA/marker_dataset/vald/pose_body.pt
data/V48_02_SOMA/marker_dataset/vald/root_orient.pt
data/V48_02_SOMA/marker_dataset/vald/trans.pt
data/V48_02_SOMA/marker_dataset/settings.yaml
data/V48_02_SOMA/marker_dataset/superset.json
data/V48_02_SOMA/marker_dataset/superset.ply
training_experiments/V48_02_SOMA/OC_05_G_03_real_000_synt_100/code/soma_2024_08_31_16_44_53.tar.gz
training_experiments/V48_02_SOMA/OC_05_G_03_real_000_synt_100/V48_02_SOMA_OC_05_G_03_real_000_synt_100.yaml
data/V48_01_SOMA
training_experiments/V48_02_SOMA/OC_05_G_03_real_000_synt_100/code
training_experiments/V48_02_SOMA/OC_05_G_03_real_000_synt_100/logs/csv/version_0/hparams.yaml
training_experiments/V48_02_SOMA/OC_05_G_03_real_000_synt_100/logs/csv/version_0/metrics.csv
training_experiments/V48_02_SOMA/OC_05_G_03_real_000_synt_100/logs/tensorboard/version_0/events.out.tfevents.1627170153.g048.4002876.0
training_experiments/V48_02_SOMA/OC_05_G_03_real_000_synt_100/logs/tensorboard/version_0/hparams.yaml
training_experiments/V48_02_SOMA/OC_05_G_03_real_000_synt_100/snapshots/V48_02_SOMA_epoch=41_val_f1=1.00_val_acc=1.00.ckpt
bpy-2.83-20200908.tar.bz2
smpl-fast-derivatives.tar.bz2
